<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Easybanking</title>

	<!-- Start CSS Files -->
	<link rel="stylesheet" href="~/css/site.css" />
	<link href="~/CustomerTemplate/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/CustomerTemplate/assets/css/animate.min.css" rel="stylesheet" />
	<link href="~/CustomerTemplate/assets/css/meanmenu.css" rel="stylesheet" />
	<link href="~/CustomerTemplate/assets/css/boxicons.min.css" rel="stylesheet" />
	<link href="~/CustomerTemplate/assets/css/flaticon.css" rel="stylesheet" />
	<link href="~/CustomerTemplate/assets/css/owl.carousel.min.css" rel="stylesheet" />
	<link href="~/CustomerTemplate/assets/css/owl.theme.default.min.css" rel="stylesheet" />
	<link href="~/CustomerTemplate/assets/css/odometer.min.css" rel="stylesheet" />
	<link href="~/CustomerTemplate/assets/css/magnific-popup.min.css" rel="stylesheet" />
	<link href="~/CustomerTemplate/assets/css/responsive.css" rel="stylesheet" />
	<link href="~/CustomerTemplate/assets/css/style.css" rel="stylesheet" />
	<!-- End Css Files -->

	<title>Leve - Online Banking & Financial Services HTML Template</title>
	<link rel="icon" type="image/png" href="~/CustomerTemplate/assets/img/favicon.png">


</head>

<body>

 -->
	<header>


		<!-- Start Top Header Area -->
		<div class="top-header-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<ul class="top-header-information">
							<li>
								<i class='bx bx-envelope'></i>
								<a href="mailto:hello@gmail.com">hello@gmail.com</a>
							</li>

							<li>
								<i class='bx bxs-phone'></i>
								<a href="tel:15143125678">+1 (514) 312-5678</a>
							</li>
						</ul>
					</div>

					<div class="col-lg-6 text-right">
						<ul class="top-header-others">
							<li>
								<i class='bx bxs-map'></i>
								<a href="atm-and-bank-locations.html">ATMs location</a>
							</li>

							<li class="languages-list">
								<select>
									<option value="1">English</option>
									<option value="2">Germany</option>
									<option value="3">Australia</option>
								</select>
							</li>

							<li>
								<i class='bx bx-user'></i>
								<a href="my-account.html">Sign In</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Top Header Area -->
		<!-- Start Navbar Area -->
		<div class="navbar-area">
			<div class="main-responsive-nav">
				<div class="container">
					<div class="main-responsive-menu">
						<div class="logo">
							<a href="index.html">
								<img src="~/CustomerTemplate/assets/img/logo-1.png" alt="image">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="main-navbar">
				<div class="container">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="index.html">
							<img src="~/CustomerTemplate/assets/img/logo-1.png" alt="image">
						</a>

						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a href="#" class="nav-link active">
										Home
									</a>
								</li>

								<li class="nav-item">
									<a href="credit-card.html" class="nav-link">
										Credit Cards
									</a>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Pages
									</a>

								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Services

									</a>
								</li>

								<li class="nav-item">
									<a href="loans.html" class="nav-link">
										Loans
									</a>
								</li>


								<li class="nav-item">
									<a href="contact.html" class="nav-link">
										Contact
									</a>
								</li>
							</ul>

							<div class="others-options d-flex align-items-center">
								<div class="option-item">
									<form class="search-box">
										<input type="text" class="form-control" placeholder="Search for..">
										<button type="submit"><i class="flaticon-loupe"></i></button>
									</form>
								</div>

								<div class="option-item">
									<a asp-action="AccountOpening" asp-controller="Account" class="default-btn">Open account</a>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>

			<div class="others-option-for-responsive">
				<div class="container">
					<div class="dot-menu">
						<div class="inner">
							<div class="circle circle-one"></div>
							<div class="circle circle-two"></div>
							<div class="circle circle-three"></div>
						</div>
					</div>

					<div class="container">
						<div class="option-inner">
							<div class="others-options d-flex align-items-center">
								<div class="option-item">
									<form class="search-box">
										<input type="text" class="form-control" placeholder="Search for..">
										<button type="submit"><i class="flaticon-loupe"></i></button>
									</form>
								</div>

								<div class="option-item">
									<a href="open-account.html" class="default-btn">Open account</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Navbar Area -->
	</header>
	<div class="container">
		<main role="main" class="pb-3">

			@RenderBody()
		</main>
	</div>

	<!-- Start Footer Area -->
	<footer class="footer-area pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-logo">
							<h2><a href="index.html">Leve</a></h2>

							<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.</p>

							<ul class="social">
								<li>
									<a href="#" class="facebook" target="_blank">
										<i class='bx bxl-facebook'></i>
									</a>
								</li>
								<li>
									<a href="#" class="twitter" target="_blank">
										<i class='bx bxl-twitter'></i>
									</a>
								</li>
								<li>
									<a href="#" class="pinterest" target="_blank">
										<i class='bx bxl-instagram'></i>
									</a>
								</li>
								<li>
									<a href="#" class="linkedin" target="_blank">
										<i class='bx bxl-linkedin'></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-footer-widget">
						<h3>Contact</h3>

						<ul class="footer-contact-info">
							<li>
								<i class='bx bxs-phone'></i>
								<span>Phone</span>
								<a href="tel:15147939-357">+1 (514) 7939-357</a>
							</li>
							<li>
								<i class='bx bx-envelope'></i>
								<span>Email</span>
								<a href="mailto:hello@leve.com">hello@leve.com</a>
							</li>
							<li>
								<i class='bx bx-map'></i>
								<span>Address</span>
								6890 Blvd, The Bronx, NY 1058 New York, USA
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-footer-widget pl-5">
						<h3>Services</h3>

						<ul class="quick-links">
							<li>
								<a href="#">Bank accounts</a>
							</li>
							<li>
								<a href="#">Savings</a>
							</li>
							<li>
								<a href="#">Credit cards</a>
							</li>
							<li>
								<a href="#">Loans</a>
							</li>
							<li>
								<a href="#">Car finance</a>
							</li>
							<li>
								<a href="#">Mobile banking</a>
							</li>
							<li>
								<a href="#">Online banking</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-footer-widget">
						<h3>Help & guidance</h3>

						<ul class="quick-links">
							<li>
								<a href="#">Privacy statement</a>
							</li>
							<li>
								<a href="#">Corporate information</a>
							</li>
							<li>
								<a href="#">Online banking help</a>
							</li>
							<li>
								<a href="#">Managing your money</a>
							</li>
							<li>
								<a href="#">Proving your identity</a>
							</li>
							<li>
								<a href="#">International banking</a>
							</li>
							<li>
								<a href="#">Help centre</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer Area -->
	<!-- Start Copy Right Area -->
	<div class="copyright-area">
		<div class="container">
			<div class="copyright-area-content">
				<p>
					<i class='bx bx-copyright'></i>
					&copy; 2021 - Easybanking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
					<a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
				</p>
			</div>
		</div>
	</div>
	<!-- End Copy Right Area -->
	<!-- Start Javascript file-->
	<script src="~/CustomerTemplate/assets/js/bootstrap.min.js"></script>
	<script src="~/CustomerTemplate/assets/js/contact-form-script.js"></script>
	<script src="~/CustomerTemplate/assets/js/form-validator.min.js"></script>
	<script src="~/CustomerTemplate/assets/js/jquery.appear.min.js"></script>
	<script src="~/CustomerTemplate/assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="~/CustomerTemplate/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="~/CustomerTemplate/assets/js/jquery.meanmenu.js"></script>
	<script src="~/CustomerTemplate/assets/js/jquery.min.js"></script>
	<script src="~/CustomerTemplate/assets/js/jquery.nice-select.min.js"></script>
	<script src="~/CustomerTemplate/assets/js/main.js"></script>
	<script src="~/CustomerTemplate/assets/js/odometer.min.js"></script>
	<script src="~/CustomerTemplate/assets/js/owl.carousel.min.js"></script>
	<script src="~/CustomerTemplate/assets/js/popper.min.js"></script>
	<script src="~/CustomerTemplate/assets/js/wow.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<!-- End Javascript file -->

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
